.footer {
  background-color: white;
}

.nosclients h2 {
  color: #007eb5;
  text-align: center;
  padding: 50px 20px;
  font-family: "Marcellus", serif;
  font-weight: 600;
  font-size: 30px;
}

.nosclients {
  margin-bottom: 15px;
}

.logofooter {
  width: 60%;
}

.footer-swiper {
  margin-bottom: 70px;
}


